<div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">Hotels</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">Hotels</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->


    <!-- Hotels Start -->
    @*<div class="container-xxl py-5 destination">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Hotels</h6>
                <h1 class="mb-5">Hotels Along Places</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-9 col-md-8">
                    <div class="row g-3">  
                        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="~/assests/img/destination-2.jpg" alt="">
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="~/assests/img/destination-2.jpg" alt="">
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="~/assests/img/destination-2.jpg" alt="">
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="~/assests/img/destination-2.jpg" alt="">
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- Hotels Start -->
    
<!-- Hotels Start -->
<div class="container-xxl py-5 destination">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Hotels</h6>
            <h1 class="mb-5">Hotels Along Places</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="wow zoomIn" data-wow-delay="0.3s">
                    <a class="position-relative d-block overflow-hidden" href="/Rooms/index">
                        <img class="img-fluid" src="~/assests/img/room-1.jpg" alt="">
                        <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="wow zoomIn" data-wow-delay="0.3s">
                    <a class="position-relative d-block overflow-hidden" href="/Rooms/index">
                        <img class="img-fluid" src="~/assests/img/room-2.jpg" alt="">
                        <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="wow zoomIn" data-wow-delay="0.3s">
                    <a class="position-relative d-block overflow-hidden" href="/Rooms/index">
                        <img class="img-fluid" src="~/assests/img/room-3.jpg" alt="">
                        <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="wow zoomIn" data-wow-delay="0.3s">
                    <a class="position-relative d-block overflow-hidden" href="/Rooms/index">
                        <img class="img-fluid" src="~/assests/img/room-3.jpg" alt="">
                        <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="wow zoomIn" data-wow-delay="0.3s">
                    <a class="position-relative d-block overflow-hidden" href="/Rooms/index">
                        <img class="img-fluid" src="~/assests/img/room-3.jpg" alt="">
                        <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="wow zoomIn" data-wow-delay="0.3s">
                    <a class="position-relative d-block overflow-hidden" href="/Rooms/index">
                        <img class="img-fluid" src="~/assests/img/room-3.jpg" alt="">
                        <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
