
<div class="team-item">
    <div class="overflow-hidden">
        <img class="img-fluid" src="@Model.Image" alt="">
    </div>
    <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
        <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
        <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
    </div>
    <div class="text-center p-4">
        <h5 class="mb-0">@Model.Name</h5>
        <h6>@Model.PlaceName</h6>
        <h6>@Model.Contact</h6>
    </div>
</div>
